@button-color: gray;
@button-color-hover: #B2CCCC;
@image-height: image-height("./public/assets/gallery/p1000101.jpg");
@image-width: image-width("./public/assets/gallery/p1000101.jpg");
@button-size: 50px;
@shadow-size: 20px;

.container {
  max-width: 980px;
  text-align: center;
  margin: 20px auto;
}

.image-holder {
  min-width: @image-width;
  height: @image-height;
}

.image-holder p {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1000;
}

#photo {
  box-shadow: -@shadow-size/2 @shadow-size/2 @shadow-size -@shadow-size/2 rgba(0,0,0,0.75);
}

.triangle-common {
  margin-top: (@image-height - @button-size) / 2;
  border-top: (@button-size / 2) solid transparent;
  border-bottom: (@button-size / 2) solid transparent;
}

.triangle-left {
  border-right: @button-size solid @button-color;
}

.triangle-right {
  border-left: @button-size solid @button-color;
}
.triangle-left:hover {
  border-right: @button-size solid @button-color-hover;
}

.triangle-right:hover {
  border-left: @button-size solid @button-color-hover;
}

#map {
  width: @image-width;
  height: @image-height;
  margin: 0 auto;
}

#weather {
  line-height: 50px;
}

.clickable {
  cursor: pointer;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}